@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.nave-label{
  color: #fff;
}
.main-container {
  position: relative;
  overflow: initial;
  background-color: #ececec;
}
.main-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  overflow-y: auto;
}
.filter-header {
  margin: 5px 5px;
  padding: 15px 5px 15px;
  border-radius: 4px;
  background-color: antiquewhite;
}

.filter-header label {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  float: left;
}
.filter-header .search-style{
  margin-left: 15px;
  width: 150px
}
.filter-header .item-warp {
   display: inline-block;
   margin-left: 30px;
   float: left;
 }
.filter-header .item-warp .select-style{
  margin-left: 15px;
  width: 100px
}
.filter-header >:first-child {
  display: inline-block;
  float: left;
}

.content-wrapper {
  position: relative;
}
.content-wrapper .table-style {
  padding: 15px 5px
}

.tree-ul {
  padding: 20px 20px 0;
  display: block;
}
.tree-ul li {
  padding: 15px 7px 0;
}
.tree-ul li .un-togglable::before,
.tree-ul .togglable-down::before,
.tree-ul .togglable-up::before {
  font-size: 12px;
  margin-left: 0.5em;
  padding-right: 5px;
}
.tree-ul li .un-togglable::before {
  content: ".";
}
.tree-ul .togglable-down::before {
  content: "▼";
}
.tree-ul .togglable-up::before {
  content: "▶";
}
.tree-ul li > label {
  color: #070708;
  float: left;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.tree-ul li > label:hover {
  color: blue;
}
.tree-ul li > .null-label {
  margin-left: 21px;
}
.tree-ul li > label:disabled,
.tree-ul li > .null-label:disabled {
  color: #dfe2cf;
}

.add-icon,
.delete-icon,
.close-icon{
  float: left;
  margin-left: 16px;
  font-size: 15px;
  cursor: pointer;
}
.add-icon:disabled,
.delete-icon:disabled,
.close-icon:disabled {
  color: #dfe2cf;
}
.add-icon {
  color: #0c06f3;
}
.delete-icon{
  color: red;
}
.close-icon{
  color: #88a00b;
}

.clearfixed:after{
  display: block;
  content: '.';
  visibility: hidden;
  height: 0;
  clear:both
}