@import '~antd/dist/antd.css';
.App {
  text-align: center;
}
.margin-left-30 {
  margin-left: 30px;
}
.margin-right-30 {
  margin-right: 30px;
}

.nave-label{
  color: #fff;
}
.main-container {
  position: relative;
  overflow: initial;
  background-color: #ececec;
}
.main-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 1px 0 15px;
  padding: 10px;
  background-color: #fff;
  overflow-y: auto;
}
.filter-header {
  padding: 15px 5px 15px;
  background-color: antiquewhite;
}

.filter-header label {
  font-size: 15px;
  line-height: 28px;
  float: left;
}
.filter-header .search-style{
  margin-left: 15px;
  width: 150px
}
.filter-header .item-warp {
   display: inline-block;
   float: left;
 }
.filter-header .item-warp .select-style{
  margin-left: 15px;
  width: 100px
}
.filter-header >:first-child {
  display: inline-block;
  float: left;
}

.content-wrapper {
  position: relative;
}
.content-wrapper .table-style {
  padding: 15px 0
}
.content-wrapper .table-style .pagination {
  margin-top: 30px;
}
.content-wrapper .table-style .pagination button {
  margin-right: 50px;
}

.tree-ul {
  padding: 20px 30px 0;
  display: block;
}
.tree-ul li {
  padding: 15px 0 0;
}
.tree-ul .li-border-line {
  border-left: 1px dashed #000000;
  margin-top: 5px;
}
.tree-ul .togglable-down::before,
.tree-ul .togglable-up::before {
  padding-right: 8px;
}
.tree-ul .togglable-down::before {
  content: "▼";
  font-size: 18px;
  margin-left: -9px;
}
.tree-ul .togglable-up::before {
  content: "▶";
  font-size: 16px;
  margin-left: -3px;
}
.tree-ul li .node {
  float: left;
  line-height: 30px;
}

.tree-ul li .node > label {
  color: #070708;
  float: left;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.tree-ul li .node > label:hover {
  color: blue;
}
.tree-ul li .node > .null-label {
  margin-left: 21px;
}

.tree-ul li .disabled-node {
  color: #dfe2cf !important;
}

.add-icon,
.delete-icon,
.close-icon,
.open-icon{
  float: left;
  margin-left: 20px;
  font-size: 15px;
  cursor: pointer;
}

.add-icon {
  color: #0c06f3;
}
.delete-icon{
  color: red;
}
.close-icon{
  color: #61710a
}
.open-icon {
  color: #d0a8c9;
}

.clearfixed:after{
  display: block;
  content: '.';
  visibility: hidden;
  height: 0;
  clear:both
}

/* --- 布局 --- */
.row-form {
  position: relative;
  padding: 0;
  height: 30px;
  margin-bottom: 15px;
}
.row-form .offset-1-2 { /* 向左偏移 1/2*/
  position: absolute;
  left: 50%;
}
.row-form .offset-1-3 { /* 向左偏移 1/3 */
  position: absolute;
  left: 33.33%;
}
.row-form .offset-2-3 { /* 向左偏移 2/3 */
  position: absolute;
  left: 66.66%;
}
.row-form > * {
  float: left;
}
.row-form .offset-1-2 > * ,
.row-form .offset-1-3 > * ,
.row-form .offset-2-3 > * {
  float: left;
}
/* --- 布局 --- */
.row-form .margin-left-20 {
  margin-left: 20px;
}

.row-form .file-icon {
  margin-right: 5px;
  font-size: 14px;
}
.row-form .control-label {
  text-align: right;
  width: 120px;
  font-size: 14px;
  line-height: 30px;
}

.row-form .modal-control-label {
  text-align: right;
  width: 80px;
  font-size: 14px;
  line-height: 30px;
}
.row-form .modal-input {
  width: 220px;
}

.row-form .ant-radio-group label,
.row-form .info-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
}
.row-form .player-btn {
  font-size: 22px;
  border-radius: 34px;
  width: 36px;
  height: 34px;
  padding: 0 10px;
}
.row-form .live-box {
  width: 800px;
  height: 460px;
  margin-top: 5px;
}
.row-form a {
  font-size: 14px;
}
.row-form textarea {
  height: 80px;
  width: 400px;
  font-size: 14px;
}
.row-form img {
  width: 240px;
  height: 200px;
  margin-top: 10px;
}
.row-form .add-tree{
  font-size: 18px;
  color: blue;
}
.row-form .remove-tree{
  margin-left: 50px;
  font-size: 18px;
  color: red;
}

.img-height {
  height: 220px;
}
.textarea-height {
  height: 80px
}
.certificate-height {
  height: 280px;
}
.live-player {
  height: 460px;
}
.item-hide {
  display: none;
}
.confirm-box {
  height: 30px;
  margin: 30px auto 0;
}
.confirm-box > button{
  margin-right: 100px;
}

.exercise-line {
  margin-bottom: 20px;
}

.exercise-label {
  font-size: 14px;
  text-align: right;
  width: 120px;
  float: left;
}

.exercise-content {
  margin-left: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  float: left;
}

.edit-pen-style {
  color: #0c06f3;
  margin-left: 30px;
}
.edit-pen-style:hover{
  cursor: pointer;
}

.warn-color {
  color: red;
}

.info-color {
  color: #56bb56;
}