@import '~antd/dist/antd.css';
.App {
  text-align: center;
}
.margin-left-30 {
  margin-left: 30px;
}
.margin-right-30 {
  margin-right: 30px;
}

.nave-label{
  color: #fff;
}
.main-container {
  position: relative;
  overflow: initial;
  background-color: #ececec;
}
.main-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px 1px 10px 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  overflow-y: auto;
}
.filter-header {
  padding: 15px 5px 15px;
  border-radius: 4px;
  background-color: antiquewhite;
}

.filter-header label {
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  float: left;
}
.filter-header .search-style{
  margin-left: 15px;
  width: 150px
}
.filter-header .item-warp {
   display: inline-block;
   float: left;
 }
.filter-header .item-warp .select-style{
  margin-left: 15px;
  width: 100px
}
.filter-header >:first-child {
  display: inline-block;
  float: left;
}

.content-wrapper {
  position: relative;
  padding: 5px 5px;
}
.content-wrapper .table-style {
  padding: 15px 0
}
.content-wrapper .table-style .pagination {
  margin-top: 30px;
}
.content-wrapper .table-style .pagination button {
  margin-right: 50px;
}

.tree-ul {
  padding: 20px 20px 0;
  display: block;
}
.tree-ul li {
  padding: 15px 7px 0;
}
.tree-ul li .un-togglable::before,
.tree-ul .togglable-down::before,
.tree-ul .togglable-up::before {
  font-size: 12px;
  margin-left: 0.5em;
  padding-right: 5px;
}
.tree-ul li .un-togglable::before {
  content: ".";
}
.tree-ul .togglable-down::before {
  content: "▼";
}
.tree-ul .togglable-up::before {
  content: "▶";
}
.tree-ul li > label {
  color: #070708;
  float: left;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.tree-ul li > label:hover {
  color: blue;
}
.tree-ul li > .null-label {
  margin-left: 21px;
}

.tree-ul li label:disabled{
  color: #dfe2cf;
}

.add-icon,
.delete-icon,
.close-icon{
  float: left;
  margin-left: 16px;
  font-size: 15px;
  cursor: pointer;
}
.add-icon:disabled,
.delete-icon:disabled,
.close-icon:disabled {
  color: #dfe2cf !important;
}
.add-icon {
  color: #0c06f3;
}
.delete-icon{
  color: red;
}
.close-icon{
  color: #88a00b;
}

.clearfixed:after{
  display: block;
  content: '.';
  visibility: hidden;
  height: 0;
  clear:both
}

/* --- 布局 --- */
.row-form {
  position: relative;
  padding: 0;
  height: 30px;
  margin-bottom: 15px;
}
.row-form .offset-1-2 { /* 向左偏移 1/2*/
  position: absolute;
  left: 50%;
}
.row-form .offset-1-3 { /* 向左偏移 1/3 */
  position: absolute;
  left: 33.33%;
}
.row-form .offset-2-3 { /* 向左偏移 2/3 */
  position: absolute;
  left: 66.66%;
}
.row-form > * {
  float: left;
}
.row-form .offset-1-2 > * ,
.row-form .offset-1-3 > * ,
.row-form .offset-2-3 > * {
  float: left;
}
/* --- 布局 --- */
.row-form .margin-left-20 {
  margin-left: 20px;
}

.row-form .file-icon {
  margin-right: 5px;
  font-size: 14px;
}
.row-form .control-label {
  text-align: right;
  width: 120px;
  font-size: 14px;
}
.row-form .ant-radio-group label,
.row-form .info-label {
  font-weight: bold;
  font-size: 14px;
}
.row-form .player-btn {
  font-size: 22px;
  border-radius: 34px;
  width: 36px;
  height: 34px;
  padding: 0 10px;
}
.row-form .live-box {
  width: 800px;
  height: 460px;
  margin-top: 5px;
}
.row-form a {
  font-size: 14px;
}
.row-form textarea {
  height: 80px;
  width: 400px;
  font-size: 14px;
}
.row-form img {
  width: 240px;
  height: 200px;
  margin-top: 10px;
}
.row-form .add-tree{
  font-size: 18px;
  color: blue;
}
.row-form .remove-tree{
  margin-left: 50px;
  font-size: 18px;
  color: red;
}

.img-height {
  height: 220px;
}
.textarea-height {
  height: 80px
}
.certificate-height {
  height: 280px;
}
.live-player {
  height: 460px;
}
.item-hide {
  display: none;
}
.confirm-box {
  height: 30px;
  margin: 30px auto 0;
}
.confirm-box > button{
  margin-right: 100px;
}

.exercise-line {
  margin-bottom: 20px;
}

.exercise-label {
  font-size: 14px;
  text-align: right;
  width: 120px;
  float: left;
}

.exercise-content {
  margin-left: 20px;
  text-align: left;
  max-width: 800px;
  font-weight: bold;
  font-size: 14px;
  float: left;
}