body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.login-page {
  background-color: #0c6561;
  height: 100%;
  width: 100%;
  position: absolute;
}
.login-wrap {
  position:absolute;
  top:0;
  left: 0;
  right:0;
  bottom:0;
  margin:auto;
  width:300px;
  height:200px;
}

.login-wrap .login-form {
  max-width: 300px;
}
.login-wrap .login-form-button {
  width: 100%;
}
.login-img{
  height: 75px;
  width: 250px;
  margin-left: 30px;
}

.radio-style {
  display: inline;
}