body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.login-wrap {
  position:absolute;
  top:0;
  left: 0;
  right:0;
  bottom:0;
  margin:auto;
  width:300px;
  height:200px;
}

.login-wrap .login-form {
  max-width: 300px;
}
.login-wrap .login-form-button {
  width: 100%;
}

.radio-style {
  display: inline;
}